@font-face {
  font-family: "s";
  src: local("GeorgeTown-ExtraLight"),
    url("./fonts/GeorgeTown-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "GeorgeTown-Light";
  src: local("GeorgeTown-Light"),
    url("./fonts/GeorgeTown-Light.ttf") format("truetype");
}


@font-face {
  font-family: "GeorgeTown-Medium";
  src: local("GeorgeTown-Medium"),
    url("./fonts/GeorgeTown-Medium.ttf") format("truetype");
}



@font-face {
  font-family: "GeorgeTown-Regular";
  src: local("GeorgeTown-Regular"),
    url("./fonts/GeorgeTown-Regular.ttf") format("truetype");
}



@font-face {
  font-family: "GeorgeTown-Semibold";
  src: local("GeorgeTown-Semibold"),
    url("./fonts/GeorgeTown-SemiBold.ttf") format("truetype");
}



body {
  margin: 0;
  font-family: 'GeorgeTown-ExtraLight','GeorgeTown-Light','GeorgeTown-Medium','GeorgeTown-Regular','GeorgeTown-Semibold' ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
